body {
    background-color: #000814;
    overflow-y: auto;
    gap: 30px;
    width: 100%;
}

.title {
    text-align: center;
    margin: 30px;
}

.home {
    text-decoration: none;
    color: #FFC300;
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    transform: rotate(-3deg);
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.card {
    width: 300px;
    border: 5px solid #FFC300;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #001D3D;
    align-content: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1) perspective(1000px) translateZ(10px);
}

p {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: solid #67AAF9;
    align-content: center;
}

.card-image {
    border: 2px solid #FFC300;
    border-radius: 8px;
    align-content: center;
    margin-top: 20px;
}

.card-link {
    text-decoration: none;
    color: #67AAF9;
}