<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/artist.css">
  <title>Artists</title>

</head>

<body>
  <div>
    <a class="ok" href="../">GO BACK</a>
  </div>
  <div class="heading">
    <h1>{{.Name}}</h1>
  </div>

  <div class="card">
    <img src="{{.Image}}" alt="{{.Name}}" class="image" />

    <div class="infos">
      <div class="artist">
        <h3>Members:</h3>
        {{range .Members}}
        <p> {{.}}</p>
        {{end}}
      </div>
      <div class="artist">
        <h3>Creation Date:</h3>
        <p>{{.CreationDate}}</p>
      </div>
      <div class="artist">
        <h3>First Album:</h3>
        <p>{{.FirstAlbum}}</p>
      </div>

      <div class="artist">
        <h3>Locations:</h3>
        {{range .Locations.Location}}
        <p>{{.}}</p>
        {{end}}
      </div>

      <div class="artist">
        <h3>Concert Dates:</h3>
        {{range .ConcertDates.Dates}}
        <p>{{.}}</p>
        {{end}}

      </div>

      <div class="artist">
        <h3>Relations:</h3>
        {{range $key, $value := .Relations.Relations}}
        <span><b>{{ $key }}</b> </span>: {{range $value}} <p>-{{.}}</p> {{end}}
        {{end}}
      </div>
    </div>
  </div>
</body>

</html>