<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/my-css/home.css">

<body>
    <div class="card-container">
        {{range .}}
        <a href="/artist?id={{.Id}}" class="card-link">
            <div class="card">
                <img src="{{.Image}}" alt="Image for {{.Name}}" loading="lazy" class="card-image">
                <p class="artist-name">{{.Name}}</p>
            </div>
        </a>
        {{end}}
    </div>

</body>
</head>

</html>